<h1>Listing nurses</h1>

<table>
  <tr>
    <th>First init</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nurses.each do |nurse| %>
  <tr>
    <td><%= nurse.first_init %></td>
    <td><%= nurse.last_name %></td>
    <td><%= link_to 'Show', nurse %></td>
    <td><%= link_to 'Edit', edit_nurse_path(nurse) %></td>
    <td><%= link_to 'Destroy', nurse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nurse', new_nurse_path %>
