<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <li id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </li>
  <% end %>


  <ul>
    
    
    <li class="field">
    <span>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </span>

    <span>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </span>
    </li>

    <li class="field">
    
     
       <%= f.label :patient_status %><br />
       <%= f.text_area(:patient_status, :size => "30x1")  %>
     
   
   </li> 
  
  <li class="field">
    <%= f.label :dilation %><br />
    <%= f.number_field :dilation %>
  </li>
  <li class="field">
    <%= f.label :effacement %><br />
    <%= f.number_field :effacement %>
  </li>
  <li class="field">
    <%= f.label :station %><br />
    <%= f.number_field :station %>
  </li>
  <li class="field">
    <%= f.label :last_exam %><br />
    <%= f.datetime_select :last_exam %>
  </li>
  <li class="field">
    <%= f.label :membrane %><br />
    <%= f.text_field :membrane %>
  </li>
  <li class="field">
    <%= f.label :gest_age %><br />
    <%= f.text_field :gest_age %>
  </li>
  <li class="field">
    <%= f.label :gravidity %><br />
    <%= f.number_field :gravidity %>
  </li>
  <li class="field">
    <%= f.label :parity %><br />
    <%= f.number_field :parity %>
  </li>
  <li class="field">
    <%= f.label :anesthesia_interview %><br />
    <%= f.text_area(:anesthesia_interview, :size => "30x1") %>
    
  </li>
  <li class="field">
    <%= f.label :group_b_strep %><br />
    <%= f.text_field :group_b_strep %>
  </li>
  <li class="field">
    <%= f.label :blood_type %><br />
    <%= f.select :blood_type, @patient.blood_types, {:include_blank => true} %>
  </li>
  <li class="field">
    <%= f.label :comments %><br />
    <%= f.text_area(:comments, :size => "30x1")  %>
  </li>
  <li class="actions">
    <%= f.submit %>
  </li>
  </ul>
<% end %>
